header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 100;
    padding-top: 0%;
}

.mujeresceo {
    padding-top: 3%;
}

.telefonos {
    width: 400px;
    padding-left: 11%;
}

.left-space {
    padding-top: 20%;
    text-align: center;
    float: left;
    width: 35%;
    height: 100%;
    background-color: #ffffff;
  }
  
  .right-space {
    margin-left: 40%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 7%;
    padding-left: 2%;    
  }

.logos {
    margin-left: 15%;
}

.title {
    font-weight: 400;
    text-align: left;
    font-size: 32px;
}

.content {
    margin: 0 auto;
    height: 695px;    
}


.mainimg {
    width: 1366px;
    height: 610px;
}

.prnav {
    float: right;
    max-width: 40px;
}

.searchbar {
    float: left;
    width: 40%;
    max-width: 256px;
}

.container {
    max-width: 1200px;
    margin: 0;
    padding: 10px 20px;
}

h1 {
    font-family: 'Archivo Black';
    font-weight: 400;
    color: #cfb4a4;
    font-size: 64px;
  }

nav {
    margin-left: 10px;
    float: left;
    width: 100;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 32px;
    margin-left: 20px;
}

body {
    font-family: 'Albert Sans','Archivo Black',sans-serif;
    background-position-y: bottom;
    background-size: cover;
}

a:hover {
    color: #000;
}
  
@media (max-width: 768px) {
    header {
        position: static;
    }

    .container {
        width: 100%;
    }

    nav {
        float: none;
        text-align: center;
    }

    li {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
.barra-nav {

    text-align: center;
    border-bottom: solid 2px rgb(207, 172, 139);
    height: 310px;

}

.titulo {

    font-family: "Archivo Black", sans-serif;
    color: rgb(207, 172, 139);
    font-size: 45px;
    margin-top: 3%;
    
  

}

.opciones-busq {

    font-family: "Albert Sans", sans-serif;
    display: flex;
    margin-top: 80px;

}

.barra-busq {

    height: 40px;
    width: 410px;
    margin-right: 3%;
    border-radius: 30px;
    background-color: rgb(207, 172, 139);
    border: none;
    outline: none;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    

}

.area-busq {

    display: flex;
    position: relative;
    width: 420px; 
    height: 50px;  
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 3%;
    border-radius: 30px;
    margin-bottom: 4%;
    background-color: rgb(207, 172, 139);
    


}

.botones-busq {

    color: black;
    margin-right: 6%;
    font-size: 25px;
 


}

#icono-busq{

    color: white;
    padding-right: 10px;
    padding-bottom: 15px;
    font-size: 50px;

}

.material-symbols-outlined {

    color: rgb(207, 172, 139);
    font-size: 70px;
    

}

.cuerpo {

    font-family: "Albert Sans", sans-serif;
    display: flex;

}

.texto-tienda {

    margin-left: 5%;
    margin-top: 2%;
    font-size: 35px;
    font-weight: 100;

}

.productos {

    display: flex;
    flex-wrap: wrap;

}

.producto {

    background-color:white;
    height: 420px;
    width: 270px;
    -webkit-box-shadow: 4px 6px 26px -12px rgba(0,0,0,0.76);
    -moz-box-shadow: 4px 6px 26px -12px rgba(0,0,0,0.76);
    box-shadow: 4px 6px 26px -12px rgba(0,0,0,0.76);
    margin-left: 60px;
    margin-top: 80px;

}

.img-container {

    height: 240px;
    text-align: center;
    justify-content: center;
   
    

}

.img-producto {

    width: 270px;
    height: auto;
    max-height: 240px;

}

.texto-producto {

    padding-left: 20px;
    

}

.nombre-produc {

    color: gray;


}

.elementos-produc {

    display: flex;

}

#favorito {

    padding-left: 40%;
    padding-top: 30%;
    font-size: 50px;
   
}

#favorito1 {

    padding-left: 28%;
    padding-top: 30%;
    font-size: 50px;
   
}

#favorito2 {

    padding-left: 26%;
    padding-top: 30%;
    font-size: 50px;

}