.barra-nav {

    border-bottom: solid 2px rgb(207, 172, 139);
    height: 280px;
 
 
}

.cuerpo {

    flex-direction: column;
    margin-left: 5%;

}
 
.opciones-busq {
 
    margin-left: 25%;
 
}

.opciones-cuenta {

   display: flex;

}

.mi-cuenta {

    font-size: 45px;
    color: rgb(207, 172, 139);
    margin-bottom: 0;

}

.saludo {

    font-size: 25px;
    margin-top: 0;

}

.sing-out {

    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    margin-bottom: 4%;

}

.area-opciones {

    display: flex;
    margin-left: 3%;

}

.opciones {

    margin-left: 8px;
    font-size: 20px;
    color: black;
    margin-bottom: 55px;
    

}

#icono-cuenta {

    font-size: 31px;
   
    

}

#icono-cuenta2 {

    font-size: 30px;
    
    
}

#icono-cuenta3 {

    font-size: 36px;
   
    
}

.opciones1 {

    margin-bottom: 2%;

}

.opciones2 {

    margin-left: 5%;

}

.pie-pag {

    height: 150px;
    background-color: rgb(207, 172, 139);

}